.width-100 {
    width: 100%;
}

.width-75 {
    width: 75%;
}

.width-50 {
    width: 50%;
}

.width-25 {
    width: 25%;
}

.w-50px {
    width: 50px;
}

.w-75px {
    width: 75px;
}

.w-100px {
    width: 100px;
}

.w-110px {
    width: 110px;
}

.w-120px {
    width: 120px;
}

.w-130px {
    width: 130px;
}

.w-140px {
    width: 140px;
}

.w-145px {
    width: 145px;
}

.w-150px {
    width: 150px;
}

.w-175px {
    width: 175px;
}

.w-200px {
    width: 200px;
}

.w-250px {
    width: 250px;
}